.add_board{
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items:flex-start;
}
.add_board input[type=text]{margin-bottom: var(--padding);padding:10px;}
.add_board textarea{height: 300px;}
.input_info{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.input_date, .input_member{width:15%;}
.input_title{width: 60%;}
.input_date input, .input_member input{border:none; border-bottom: 1px solid var(--gray);border-radius: 0;}
.input_date input:focus, .input_member input:focus{outline: none;}

/* 카테고리 선택 */
.category_select{
	display: flex;
}

/* 글쓰기 관리자 모드 qna 클릭 시  */
.qna_select{
	display: none;
}
.qna_select.on{
	display: flex;
}
.qna_label{
	width : 50px;
}


.add_board input[type=button]{
   width: 150px;
   align-self: flex-end;
}