@charset "UTF-8";

/* 카테고리 */
#categoryList {width: 100%;display: flex;padding-bottom: var(--padding);border-bottom: 3px solid var(--black);}

.complain_category {
	font-size: 20px;
	margin-right: var(--padding);
	color: var(--gray);
	font-weight: bold;
	text-align : center;
	padding: 10px;
	cursor: pointer;
}
.complain_category.on{color: var(--black);}
.complain_category:hover {color: var(--black);}

/* 본문 */

.complain_main{
	width: 100%;
	display:none;
}

.complain_main.on{
	display:block;
}

.complain_title{
	padding:var(--padding) 10px;
	font-size: 20px;
	border-bottom: 1px solid var(--gray);
	display: flex;
	justify-content: space-between;
	text-align: left;
}
.complain_category_text{
	color:var(--dark-green);
	border-right: 1px solid var(--gray);
	width: 100px;
	text-align: center;
}

.complain_title_text{
	width: 100%;
	padding:0 var(--padding);
	text-align: left;
}

.complain_title_arrow{transition: all .3s;}
.complain_title_arrow.on{transform: rotate(180deg);}
.complain_contents{
	background:#f8f8f8;
	padding: var(--padding);
	padding-left: 10.5%;
	display: none;
}
.complain_contents.on{
	display: block;
}

/* 다크모드 */
html.dark_mode:has(header.black) #categoryList {border-bottom: 3px solid var(--white);}
html.dark_mode:has(header.black) .complain_category.on{color: var(--white);}
html.dark_mode:has(header.black) .complain_category:hover {color:  var(--white);}

html.dark_mode:has(header.black) .complain_contents{color: var(--black);background-color: var(--gray);}


@media screen and (max-width: 900px) {
	.complain_category {font-size: 18px;}
	.complain_title{font-size: 18px;}
}