/* 관광지 정보 */
.city_nav{
   width: 100%;
   display: flex;
   justify-content: flex-start;
   margin-bottom: var(--padding);
   align-items: flex-end;
   color:var(--white);
   text-shadow:0 0 5px #22222254;
}
.city_nav h2{font-size: var(--font-subTitle);margin-right: 40px;}
.city_nav a{color:var(--white);text-shadow:0 0 5px #22222254;}
.zzimBtn{
   margin-left: auto;
   cursor: pointer;
   font-size: var(--font-subTitle);
   color:var(--red);
}
.zzimBtn:hover{transform: scale(1.1);}
.zzimBtn:active{transform: scale(0.9);}

.city_content{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.city_content .video{
   width:850px;
   height: 476px;
}
.city_content .video iframe{width: 100%; height: 100%;}




/* 이 지역의 볼거리 */
.tourist{
   background: #ffffff99;
   backdrop-filter: blur(10px);
   padding:20px;
   border-radius: var(--radius);
   box-shadow: 0 7px 10px 5px #2222221e;
   height: 476px;
   width: 300px;
   overflow: auto;
   margin-left:10px;
}
.tourist h2{margin-bottom: calc(var(--padding));}
.tourist #zzim_list>div{display: flex;}
.tourist #zzim_list .image{
   width: 100px;
   height: 100px;
   border-radius: 10px;
   margin-right: 20px;
   overflow: hidden;
}
.tourist #zzim_list .content h3{margin-bottom: 5px;}
.tourist #zzim_list .content p{
	margin-bottom: 15px;
	width: 140px;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.tourist #zzim_list .fa-arrow-right{transition: all .3s;}
.tourist #zzim_list a:hover{color:var(--dark-green);}
.tourist #zzim_list a:hover .fa-arrow-right{transform: translateX(5px);}
.tourist #zzim_list .content a{font-size: 14px;}

.tourist::-webkit-scrollbar {
   width: 10px;
}
.tourist::-webkit-scrollbar-thumb {
   background-color: var(--gray);
   border-radius: 10px;
}
.tourist_content .image img{width: 100%;}

/* 댓글 */
div.comment{
   width: 100%;
   margin-top: calc(var(--padding)*2);
   background: #a8a8a899;
   backdrop-filter: blur(10px);
   padding:var(--padding);
   border-radius: var(--radius);
}
div.comment h3{margin:calc(var(--padding)/2) 0;}
div.comment form{
   display: flex;
   justify-content: space-between;
   margin-bottom: var(--padding);
}
div.comment form input[type=text]{margin-right:40px;background: var(--white);border: none;}
div.comment form input[type=submit]{width: 20%;}

/* 댓글 목록 */
ul.comment li{
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
   width: 100%;
   margin-bottom: 30px;
   padding:20px;
   background: #f8f8f855;
   border-radius: 10px;
}
ul.comment li:last-child{margin-bottom: 0;}
ul.comment .profile_image{
   width: 70px;
   height:70px;
   border-radius: 50%;
   overflow: hidden;
}
ul.comment .profile_image img{width: 100%;height: 100%;}
ul.comment .content{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 90%;
}

ul.comment .content>div{display: flex;margin-bottom: 10px;align-items: center;justify-content: center;}
ul.comment .content>div h4{margin-right: 10px;}
ul.comment .content>div p{color:#555;}
ul.comment .content>p{width: 85%;word-break:break-all;text-overflow: ellipsis;}
ul.comment button{align-self: flex-end;background: var(--red);color:var(--white)}
ul.comment button:hover{align-self: flex-end;background: var(--dark-red);}
ul.comment .content>button{
   position: absolute;
   right:0;
   top: 50%;
   transform: translateY(-50%);
}

/* 모달 창 열림 애니메이션 */
@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

.modal_panorama.active {
  animation: modalFadeIn 0.3s ease-out forwards;
}
/* 모달 창 닫힘 애니메이션 */
@keyframes modalFadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
  }
}

/* 닫힘 애니메이션을 위한 클래스 추가 */
.modal_panorama.closing {
  animation: modalFadeOut 0.3s ease-out forwards;
}

.modal_panorama{z-index: 997;width: 70%;height: 90%;}
.modal_panorama>.title{margin-bottom: 10px;}
.modal_panorama>p{margin-bottom: var(--padding);}
.modal_panorama>.fa-times{
	cursor: pointer;
	position: absolute;
	top:20px;right:30px;
	font-size:20px;
}
.panorama{width: 100%;height: 90%;}



@media screen and (max-width: 1200px) {
	.city_content{flex-direction: column;}
	.city_content .video{width: 100%;margin-bottom: var(--padding);}
	.modal_panorama{width: 90%;padding:30px 20px;}
	
	.tourist{width: 100%;margin-left: 0;}
	.tourist #zzim_list .image{width: 200px;}
	.tourist h2{text-align: center;margin-bottom: 40px;font-size: 30px;}
   .tourist #zzim_list>div{width: 100%;padding: 20px 0; border-bottom: 1px dotted var(--gray);}
   .tourist #zzim_list .content{display: flex;flex-direction: column;width: 100%;}
   .tourist #zzim_list .content h3{font-size: 24px;margin-bottom: 20px;}
   .tourist #zzim_list .content>div{align-self: flex-end;}
   .tourist #zzim_list .content>div a{font-size: 18px;font-weight: bold;}
   .tourist #zzim_list .content p{width: 90%;}
}

@media screen and (max-width: 900px) {
	.modal_panorama{width: 100%;padding:30px 20px;}
   .tourist h2{text-align: center;margin-bottom: 40px;font-size: 30px;}
   .tourist .image{display: none;}
	.tourist{width: 100%;}
   /* 댓글 */
   div.comment form input[type=text]{margin-right: 0;}
   div.comment form{flex-wrap: wrap;}
   div.comment form input[type=submit]{width: 100%;}
   ul.comment li{flex-direction: column;}
   ul.comment .profile_image{margin-bottom: 20px;}
   ul.comment .content>div h4{margin-right: 0;margin-bottom:5px;}
   ul.comment .content>div{flex-direction: column;align-items: flex-start;}
   ul.comment .content>p{border-top: 1px dotted var(--gray);padding-top:10px;width: 100%;}
   ul.comment .content>button{top:-90px;right:-40px;transform: translateX(0);padding:10px 20px}
}