/* 관광지 정보 */
.city_nav{
   width: 100%;
   display: flex;
   justify-content: flex-start;
   margin-bottom: var(--padding);
   align-items: flex-end;
   color:var(--white);
   text-shadow:0 0 5px #22222254;
}
.city_nav h2{font-size: var(--font-subTitle);margin-right: 40px;}
.city_nav a{color:var(--white);text-shadow:0 0 5px #22222254;}
.zzimBtn{
   margin-left: auto;
   cursor: pointer;
   font-size: var(--font-subTitle);
   color:var(--red);
}
.zzimBtn:hover{transform: scale(1.1);}
.zzimBtn:active{transform: scale(0.9);}

.city_content{
   width: 100%;
   display: flex;
   justify-content: space-between;
}
.city_content .video{
   width:850px;
   height: 476px;
}
.city_content .video iframe{width: 100%; height: 100%;}
/* 이 지역의 볼거리 */
.tourist{
   width: 300px;
   background: #ffffff99;
   backdrop-filter: blur(10px);
   padding:20px;
   border-radius: var(--radius);
   box-shadow: 0 7px 10px 5px #2222221e;
   height: 476px;
   overflow: auto;
   margin-left:10px;
}
.tourist::-webkit-scrollbar {
   width: 10px;
}
.tourist::-webkit-scrollbar-thumb {
   background-color: var(--gray);
   border-radius: 10px;
}
.tourist .content{
   display: flex;
   flex-direction: column-reverse;
   margin-bottom: 40px;
}
.panorama_btn{width: 100%;padding:15px 0;margin-bottom: var(--padding);}
.AIcontent h3{
   font-size: 24px;
   margin-bottom: 25px;
}
.AIcontent h3::before{
   content: "\f0eb";
   font-family: "Font Awesome 5 Free";
   font-weight: 500;
   color:var(--red);
   margin-right: 10px;;
}
.AIcontent a:hover{color:var(--dark-green);}
.AIcontent a::after{
	display: inline-block;
	content: "\f061";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   margin-left: 10px;
   transition: all .3s;
}
.AIcontent a:hover:after{
	transform: translateX(8px);
}
/* 댓글 */
div.comment{
   width: 100%;
   margin-top: calc(var(--padding)*2);
   background: #a8a8a899;
   backdrop-filter: blur(10px);
   padding:var(--padding);
   border-radius: var(--radius);
}
div.comment h3{margin:calc(var(--padding)/2) 0;}
div.comment form{
   display: flex;
   justify-content: space-between;
   margin-bottom: var(--padding);
}
div.comment form input[type=text]{margin-right:40px;background: var(--white);border: none;}
div.comment form input[type=submit]{width: 20%;}

/* 댓글 목록 */
ul.comment li{
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
   width: 100%;
   margin-bottom: 30px;
   padding:20px;
   background: #f8f8f855;
   border-radius: 10px;
}
ul.comment li:last-child{margin-bottom: 0;}
ul.comment .profile_image{
   width: 70px;
   height:70px;
   border-radius: 50%;
   overflow: hidden;
}
ul.comment .profile_image img{width: 100%;height: 100%;}
ul.comment .content{
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   width: 90%;
}

ul.comment .content>div{display: flex;margin-bottom: 10px;align-items: center;justify-content: center;}
ul.comment .content>div h4{margin-right: 10px;}
ul.comment .content>div p{color:#555;}
ul.comment .content>p{padding-right:100px;}
ul.comment button{align-self: flex-end;background: var(--red);color:var(--white)}
ul.comment button:hover{align-self: flex-end;background: var(--dark-red);}
ul.comment .content>button{
   position: absolute;
   right:0;
   top: 50%;
   transform: translateY(-50%);
}

.modal_panorama{z-index: 997;width: 70%;height: 90%;}
.modal_panorama>.title{margin-bottom: 10px;}
.modal_panorama>p{margin-bottom: var(--padding);}
.modal_panorama>.fa-times{
	cursor: pointer;
	position: absolute;
	top:20px;right:30px;
	font-size:20px;
}
.panorama{width: 100%;height: 90%;}


@media screen and (max-width: 1200px) {
	.city_content{flex-direction: column;}
	.city_content .video{width: 100%;margin-bottom: var(--padding);}
	.modal_panorama{width: 90%;padding:30px 20px;}
   .tourist{width: 100%;}
}

@media screen and (max-width: 900px) {
	.modal_panorama{width: 100%;padding:30px 20px;}

   /* 댓글 */
   div.comment form input[type=text]{margin-right: 0;}
   div.comment form{flex-wrap: wrap;}
   div.comment form input[type=submit]{width: 100%;}
   ul.comment li{flex-direction: column;}
   ul.comment .profile_image{margin-bottom: 20px;}
   ul.comment .content>div h4{margin-right: 0;margin-bottom:5px;}
   ul.comment .content>div{flex-direction: column;align-items: flex-start;}
   ul.comment .content>p{border-top: 1px dotted var(--gray);padding-top:10px;}
   ul.comment .content>button{top:-110%;right:-40px;transform: translateX(0);padding:10px 20px}
}