@charset "UTF-8";
.earth_notice{display: none;}

.earthSection .innerBox{position: relative;}
.earthSection img{
	width: 100%;
	filter:brightness(0.95) drop-shadow(0px 3px 5px #22222254);
	z-index: -1;
}
.earthSection button{
	position: absolute;
	background: var(--white);
	color:var(--black);
	font-size: 24px;
	font-weight: bold;
   border-radius: 5px;
   padding: 20px 10px;
   padding-top:30px;
   box-shadow: 3px 3px 5px #22222254;
   opacity: .8;
}
.earthSection button::before{
   content: "";
   display: block;
   width: 10px;height: 2px;
   position: absolute;
   background: var(--red);
   top:15px;left:45%;
   transform:rotate(45deg);
}
.earthSection button::after{
   content: "";
   display: block;
   width: 10px;height: 10px;
   position: absolute;
   background: var(--red);
   border-radius: 50%;
   top:7px;left:45%;
   transform: translateX(-45%);
}
.earthSection button:hover{opacity: 1;}
#northAmerica{top:30%;left:12%;}
#southAmerica{bottom:25%;left:22%}
#europe{top:20%;left:45%}
#africa{bottom:42%;left:43%;}
#asia{top:23%;right: 23%;}
#oceania{bottom:17%;right: 9%;}
#antarctica{bottom:5%;right: 30%;}


@media screen and (max-width: 1200px) {
   .earthSection button{font-size:18px;}
}
@media screen and (max-width: 900px) {
   .earth_notice{
      width: 95%;
      margin:0 auto;
      display: block;
      text-align: center;
      padding:20px 0;
      font-size:20px;
      font-weight: bold;
      color:var(--white);
      border-radius: var(--radius);
      margin-bottom: 40px;
      backdrop-filter: blur(10px);
      background: #ffffff11;
      box-shadow: 0 2px 5px 1px #22222221;
   }
   .earthSection img{display: none;}
   .earthSection .innerBox{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
   }
   .earthSection button{
      position: static;
      width: 150px;
      margin-right: 20px;
      margin-bottom: 20px;
      background: inherit;
      backdrop-filter: blur(10px);
      padding: 30px 20px;
      transition: all .3s;
      background: #f8f8f870;
      color:var(--white);
      text-shadow:0 0 5px #22222254;
      opacity: 1;
      box-shadow: 0 3px 5px 1px #22222221;
   }
   .earthSection button:hover{
	   background: #f8f8f899;
   }
   .earthSection button::after{display: none;}
   .earthSection button::before{display: none;}
}