/* footer */
footer{background: var(--black);color:var(--white);font-size: var(--font-small);}
footer .innerBox{display: flex;justify-content: space-between;}
/* footer logo */
.footer_logo{display: flex; align-items: end;}
.footer_logo .logo_img{margin-right:40px;}
.footer_logo img{
	filter: invert(75%);
	-webkit-user-select:none;
  	-moz-user-select:none;
  	-ms-user-select:none;
  	user-select:none
}
/* footer nav */
.footer_nav li:first-child{margin-bottom: var(--padding);}
footer a{color:var(--white);}
footer a:hover{color:var(--green)}

@media screen and (max-width: 900px) {
	footer .innerBox{flex-direction: column;}
	.footer_logo .logo_img{margin-right: 0; margin-bottom: var(--padding);}
	.footer_logo{flex-direction: column;align-items: start;margin-bottom:var(--padding);display: none;}
	.footer_nav{display: flex;justify-content: center;}
	.footer_nav li{margin-bottom: 0;margin-right: var(--padding);}
	
	html.dark_mode:has(header.black) ooter .innerBox{border-top: 1px solid var(--white);}
}

/* 채팅창 테스트 */
.chat_msg{
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 100px;
	height: 100px;
	background: Gray;
}