/* header */
/* header a{color:var(--white);} */
header .innerBox>ul{display: flex;align-items: center;color:var(--white);text-shadow:0 0 5px #22222254;}

header a{color:var(--white);}

header.black .innerBox>ul{color:var(--black);text-shadow:none;}
header.black a{color:var(--black);}
header.black .top_nav .logo_img{background-image: url('../img/logo.png');}

/* top_nav */
.top_nav{justify-content: space-between;margin-bottom: 35px;align-items: center;}

/* logo */
.logo_img{width: 120px;height: 70px;}
.top_nav .logo_img{
	cursor:pointer;
	background-image: url('../img/logo_white.png');
	background-repeat: no-repeat;
   	background-position: center center;
   	-webkit-background-size: contain;
  	-moz-background-size: contain;
  	-o-background-size: contain;
   	background-size: contain;
}
.logo_img img{width: 100%;}

.member{display: flex;}
.member li{margin-right: var(--padding);}
.member li:last-child{margin-right: 0;}
.member li a:hover{color:var(--gray)}

/* gnb */
.gnb{justify-content: center;}
.gnb li{margin-top:35px; margin-right:calc(var(--padding)*2) ;font-size: 24px;font-weight:500;position: relative;}
.gnb li::after{
   content: "";
   width: 100%;
   height: 4px;
   background: var(--white);
   position: absolute;
   bottom:-10px;
   left:0;
   opacity: 0;
   transition: all .3s;
}
.gnb li:hover:after{opacity: 1;}
header.black .gnb{display: none;}