/* header */
/* header a{color:var(--white);} */
header .innerBox>ul{display: flex;align-items: center;color:var(--white);text-shadow:0 0 5px #22222254;}

header a{color:var(--white);}

header.black .innerBox>ul{color:var(--black);text-shadow:none;}
header.black a{color:var(--black);}
header.black .top_nav .logo_img{background-image: url('../img/logo.png');}

/* top_nav */
.top_nav{justify-content: space-between;margin-bottom: 35px;align-items: center;}

/* logo */
.logo_img{width: 120px;height: 70px;}
.top_nav .logo_img{
	cursor:pointer;
	background-image: url('../img/logo_white.png');
	background-repeat: no-repeat;
   background-position: center center;
   -webkit-background-size: contain;
   -moz-background-size: contain;
   -o-background-size: contain;
   background-size: contain;
}
.logo_img img{width: 100%;}

.member{display: flex;}
.member li{margin-right: var(--padding);}
.member li:last-child{margin-right: 0;}
.member li a:hover{color:var(--gray)}

/* gnb */
.gnb{justify-content: center;}
.gnb li{margin-top:35px; margin-right:calc(var(--padding)*2) ;font-size: 24px;font-weight:500;position: relative;}
.gnb li::after{
   content: "";
   width: 100%;
   height: 4px;
   background: var(--white);
   position: absolute;
   bottom:-10px;
   left:0;
   opacity: 0;
   transition: all .3s;
}
.gnb li.on:after{opacity: 1;}
.gnb li:hover:after{opacity: 1;}
header.black .gnb{display: none;}

.menuToggle::after{
   content: "\f358";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   position: absolute;
   top:30px;left:50%;
   transform: translateX(-50%);
   width: 50px;
   text-align: center;
   font-size: var(--font-subTitle);
}
.menuToggle{
   display: none;
   font-size: 24px;
   color:var(--white);
   text-shadow:0 0 5px #22222254;
   position: absolute;
   top:20px;left:50%;
   transform: translateX(-50%);
   cursor: pointer;
   transition: all .3s;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none

}
.menuToggle:hover{transform: translateX(-50%) translateY(10px);}
.menuToggle.on::after{content: "\f35b";}
.menuToggle.on:hover{transform: translateX(-50%) translateY(-10px);}

/* 다크모드 스위치 */
header.black .dark_mode_switch{display: inline-block;}

#dark_mode_check{display: none;}
.dark_mode_switch{
	display: none;
   position: absolute;
   width: 60px;
   top:40px;left:50%;
   transform: translateX(-50%);
   padding:15px 5px;
   border: 1px solid var(--black);
   border-radius: 20px;
   overflow: hidden;
   transition: all .3s;
   cursor: pointer;
}
.dark_mode_switch::after{
   content: "\f185";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   position: absolute;
   text-align: center;
   line-height: 20px;
   color:var(--black);
   top:5px;left:5px;
   display: block;
   width: 20px;height: 20px;
   background:none;
   transition: all .3s;
}
.dark_mode_switch::before{
   content: "\f186";
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
   position: absolute;
   text-align: center;
   line-height: 20px;
   color:var(--white);
   top:5px;right:-20px;
   display: block;
   width: 20px;height: 20px;
   background:none;
   transform: rotate(30deg);
   transition: all .3s;
}
#dark_mode_check:checked + .dark_mode_switch{background: var(--black);}
#dark_mode_check:checked + .dark_mode_switch::after{left:-20px;transform: rotate(30deg);}
#dark_mode_check:checked + .dark_mode_switch::before{right:5px;}

/* 다크모드 */
html.dark_mode:has(header.black) .top_nav .logo_img{background-image: url('../img/logo_white.png');}
html.dark_mode:has(header.black) header.black .innerBox>ul{color:var(--white)}

html.dark_mode:has(header.black) .dark_mode_switch{border: 1px solid var(--white);}
html.dark_mode:has(header.black) .dark_mode_switch::after{color:var(--white);}
html.dark_mode:has(header.black) .dark_mode_switch::before{color: var(--black);}
html.dark_mode:has(header.black) #dark_mode_check:checked + .dark_mode_switch{background: var(--gray);}

@media screen and (max-width: 1200px) {
	.gnb li {font-size: 20px;}
}
@media screen and (max-width: 900px) {
	header.black .menuToggle{display: none;}
   .menuToggle{display: block;}
   .top_nav{font-size: 20px;}
   .top_nav .member>li:nth-child(3){margin-left: 15px;}
	.gnb{
		position: absolute;
		z-index: 997;
		width: 95%;
		top:-100%;
		left:50%;
		transform: translateX(-50%);
		justify-content: space-evenly;
		flex-wrap: wrap;
		border: 3px solid #f8f8f880;	
		border-radius: 10px;
		padding:20px 0;
		backdrop-filter: blur(10px);
		transition: all .8s;
   }
   .gnb.on{
      top:100px;
   }
   .gnb li:first-child{display: none;}
   .gnb li{
      text-align: center;
      width: 150px;
      margin-top:0;
      margin-right:0;
      font-size: 24px;
      font-weight:500;
      position: relative;
      cursor: pointer;
   }
   .gnb li::after{display: none;}
   .gnb li a{
      border-radius: 10px;
      display: block;
      padding:20px 10px;
      font-weight: bold;
   }
   .gnb li a:hover{text-shadow:0 0 5px #41CE8280;}
}