/* Main section */

section h1{
   font-size: var(--font-title);
   color:var(--white);
   font-weight: bold;
   text-align: center;
   text-shadow: 0 0 10px #0000002d;
   padding:var(--padding);
   margin-bottom:70px;
}
section button{
   margin: 20px auto;
   font-size: 24px;
   border:2px solid var(--white);
   background: inherit;
   color:var(--white);
   text-shadow: 0 0 10px #0000002d;
   border: 3px solid #f8f8f880;
   backdrop-filter: blur(10px);
   font-weight: bold;
}
section button:hover{
	padding:13px 33px;
	border: none;
   background: #f8f8f899;
}

@media screen and (max-height: 800px) {
	section h1{margin:70px 0;}
	section button{margin: 60px auto;}
}

@media screen and (max-width: 900px) {
	section h1{font-size: var(--font-subTitle);margin-bottom:50px;word-break:keep-all;}
	section button{font-size: 18px;margin:50px auto;}
}