/* Main section */

section h1{
   font-size: var(--font-title);
   color:var(--white);
   font-weight: bold;
   text-align: center;
   text-shadow: 0 0 10px #0000002d;
   padding:var(--padding);
   margin-top:130px;
   margin-bottom:70px;
}
section button{
   margin: 20px auto;
   font-size: 24px;
   border:2px solid var(--white);
   background: inherit;
   color:var(--white);
}
section button:hover{
   background: var(--white);
   color:var(--black);
}