<?xml version="1.0" encoding="UTF-8"?>
<!-- CLS-020 : 게시판 테이블에 접근하는 쿼리문을 담은 xml 파일 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyevel.mybatis.BoardMapper">
	<select id="boardList" resultType="Board">
		select * from board where <![CDATA[category < 90]]> order by no desc;
	</select>

	<insert id="boardAdd" parameterType="Board">
		insert into board(no,
		category,
		is_private, member_id, title, contents, reg_date, hits,
		heart,
		admin_check)
		values(
		null,
		#{category},
		#{is_private},
		#{member_id},
		#{title},
		#{contents},
		#{reg_date},
		#{hits},
		#{heart},
		#{admin_check}
		)
	</insert>

	<select id="boardDetail" parameterType="Integer"
		resultType="board">
		select * from board where no=#{no}
	</select>

	<delete id="boardDelete" parameterType="Board">
		delete from board where
		no=#{no}
	</delete>
	
	<delete id="boardDeleteMemberId" parameterType="String">
		delete from board where
		member_id like #{member_id}
	</delete>

	<update id="boardUpdate" parameterType="Board">
		update board set
		title=#{title},
		contents=#{contents}
		where no=#{no}
	</update>

	<update id="boardCount" parameterType="Board">
		update board set hits =
		hits + 1 where no=#{no}
	</update>

	<select id="boardCategory" parameterType="Board">
		select * from board
		where category=#{category}
	</select>

	<select id="boardQnAList" resultType="Board">
		select * from board where <![CDATA[category >= 90]]>;
	</select>
	
	<!-- 카테고리 구분 없이 제목 or 내용을 전체 검색 -->
	<select id="boardSearchList" parameterType="String" resultType="Board">
		select * from board 
		where <![CDATA[category < 90]]> and 
		(title like CONCAT('%', #{searchText}, '%') or contents like CONCAT('%', #{searchText}, '%'))
		order by no desc;
	</select>
	
	<!-- 카테고리 선택 시 카테고리 안에서 제목 or 내용을 검색 -->
	<select id="boardSearchCategoryList" parameterType="Map" resultType="Board">
		select * from board 
		where (<![CDATA[category < 90]]> and category like CONCAT('%', #{category}, '%') )
		and (title like CONCAT('%', #{searchText}, '%') or contents like CONCAT('%', #{searchText}, '%'))
		order by no desc;
	</select>
	
	<!-- 게시글에서 좋아요를 누르면 1추가 -->
	<update id="addBoardHeart" parameterType="Integer">
		update board set heart = heart + 1 where no = #{no};
	</update>
	
	<!-- 게시글에서 좋아요를 누르면 1삭제 -->
	<update id="deleteBoardHeart" parameterType="Integer">
		update board set heart = heart - 1 where no = #{no};
	</update>
</mapper>