<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyevel.mybatis.BoardLikeMapper">
	
	<!-- 게시글 볼때 내 좋아요가 있으면 가져감 -->
	<select id="getMyBoardLike" parameterType="Map" resultType="BoardLike">
		select * from boardLike where board_no like #{board_no} and member_id like #{member_id}
	</select>

	<!-- 좋아요 추가 -->
	<insert id="addBoardLike" parameterType="BoardLike">
		insert into boardLike values(#{board_no},#{member_id})
	</insert>
	
	<!-- 좋아요 삭제 -->
	<delete id="deleteBoardLike" parameterType="BoardLike">
		delete from boardLike where board_no = #{board_no} and member_id like #{member_id}
	</delete>
	
	<!-- 좋아요 삭제 (게시글 삭제시 좋아요 전부 삭제)-->
	<delete id="deleteBoardLikeByBoard" parameterType="Integer">
		delete from boardLike where board_no = #{board_no}
	</delete>
</mapper>