<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyevel.mybatis.MemberMapper">
  
    <select id="memberList" resultType="member">
       select * from member
    </select>
    
    <insert id="memberInsert" parameterType="member">
        insert into member(id, pw, name, email, img)
        values(
        #{id},
        #{pw},
        #{name},
        #{email},
        #{img},
        )       
    </insert>
     <select id="validMemberId" parameterType="String" resultType="Integer">        
       select count(*) from member where id=#{id}
     </select>
     
      <select id="checkLogin" parameterType="String" resultType="String">  
     select name from member where id=#{id} and pass=#{pass};
        </select>
        
    <delete id="memberDelete" parameterType="String">  
        delete from member where id=#{id}
    </delete>
    
    <select id="memberContent" parameterType="String" resultType="member">        
        select * from member where id=#{id}
    </select>
    
    <update id="memberUpdate" parameterType="member">
         update member 
         set name=#{name}, email=#{email} 
         where id=#{id}	 
    </update>
    
  <update id="memberUploadPhoto" parameterType="member">
    update member set img=#{img}, where id=#{id}	 
    </update>
    
    <select id="memberLogin" parameterType="member" resultType="String">
        select name from member where id=#{id} and pw=#{pw}       
    </select>
</mapper>