<?xml version="1.0" encoding="UTF-8"?>
<!-- CLS-018 : 찜 테이블에 접근하는 쿼리문을 담은 xml 파일 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eyevel.mybatis.ZzimMapper">
	<select id="ZzimMemberList" parameterType="Zzim"
		resultType="Zzim">
		select * from zzim where member_id=#{member_id} and area_no=#{area_no}
	</select>
	<select id="ZzimMemberListById" parameterType="Zzim" resultType="Zzim">
		select * from zzim where member_id=#{member_id}
	</select>
	<insert id="ZzimAdd" parameterType="Zzim">
		insert into zzim values(#{area_no},#{member_id})
	</insert>
	<delete id="ZzimDelete" parameterType="Zzim">
		delete from zzim where area_no=#{area_no} and member_id=#{member_id}
	</delete>
		<delete id="ZzimDeleteById" parameterType="String">
		delete from zzim where member_id=#{member_id}
	</delete>
		
	<delete id="ZzimDeleteByNo" parameterType="Integer">
		delete from zzim where area_no=#{area_no}
	</delete>
</mapper>